<img src="image/backgroundred.png" class="bg">
    <div ng-include="'js/views/navbar.html'"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="form-all">
                    <h3 style="text-align: center;">ตารางผู้ใช้ตอบคำถาม</h3>
                    <h4 style="text-align: center;margin-top: 20px">
                        <span class="success" style="color: #00aa98;margin-right: 10px">คนที่ทำเสร็จ : {{totelPerson.finish}}</span>
                        /
                        <span style="color:red;margin-left: 10px">คนที่ทำแล้วแต่ยังไม่เสร็จ : {{totelPerson.not_finish}}</span>
                        /
                        <span style="color:red;margin-left: 10px">คนที่ยังไม่ได้ทำ : {{totelPerson.all_user - totelPerson.not_finish - totelPerson.finish}}</span>
                    </h4>
                    <div class="row">

                        <div class="col-md-4">
                            <a role="button" class="btn btn-success"  style="margin: 15px auto;display: block"  href="/index.php/api/ExportExcel">โหลดไฟล์ Excel 1-2000 คน</a>

                        </div>
                        <div class="col-md-4">
                            <a role="button" class="btn btn-success"  style="margin: 15px auto;;display: block"  href="/index.php/api/ExportExcel2">โหลดไฟล์ Excel 2001-4000 คน</a>

                        </div>
                        <div class="col-md-4">
                            <a role="button" class="btn btn-success"  style="margin: 15px auto;;display: block"  href="/index.php/api/ExportExcel3">โหลดไฟล์ Excel 4001-คนสุดท้ายของระบบ</a>

                        </div>

                    </div>

                    <pre>Page: {{bigCurrentPage}} / {{totalItems}}</pre>
                    <ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false"></ul>



                    <div style="overflow: hidden    ">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>

                            </tr>
                            <tr>
                                <th rowspan="2" style="line-height: 55px">ชื่อ</th>
                                <th colspan="7">ชุดที่ 1</th>
                                <th colspan="7">ชุดที่ 2</th>
                                <th colspan="7">ชุดที่ 3</th>
                                <th rowspan="2" style="line-height: 55px">ประเภท</th>
                            </tr>
                            <tr>
                                <th>ข้อ 1</th>
                                <th>ข้อ 2</th>
                                <th>ข้อ 3</th>
                                <th>ข้อ 4</th>
                                <th>ข้อ 5</th>
                                <th>ข้อ 6</th>
                                <th>ข้อ 7</th>
                                <th>ข้อ 1</th>
                                <th>ข้อ 2</th>
                                <th>ข้อ 3</th>
                                <th>ข้อ 4</th>
                                <th>ข้อ 5</th>
                                <th>ข้อ 6</th>
                                <th>ข้อ 7</th>
                                <th>ข้อ 1</th>
                                <th>ข้อ 2</th>
                                <th>ข้อ 3</th>
                                <th>ข้อ 4</th>
                                <th>ข้อ 5</th>
                                <th>ข้อ 6</th>
                                <th>ข้อ 7</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="user in allUser" >
                                <td>{{user.name[0]}}</td>
                                <td ng-repeat="problem_number in user.question_answer">{{problem_number.answer_type}}</td>
                                <td>{{user.person_type1[0]}}{{user.person_type2[0]}}{{user.person_type3[0]}}</td>
                            </tr>

                            </tbody>


                        </table>
                    </div>


                    <ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false"></ul>
                    <pre>Page: {{bigCurrentPage}} / {{totalItems}}</pre>

                </div>
            </div>
        </div>
    </div>
