
<div class="background-white">
    <div class="container" >
        <div class="row">
            <div class="col-md-12">
                <div class="form-all">
                    <img src="image/logoRed.png" style="display: block;margin: auto;height: 150px;margin-bottom: 20px">

                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
                        <input type="text" class="form-control" placeholder="กรุณกรอกรหัสของท่านทีนี้" aria-describedby="basic-addon1" ng-model="username" autofocus>
                    </div>
                    <p style="text-align: center;color: #c2001b;margin-top: 10px">{{massage}}</p>
                    <div class="alert alert-warning" role="alert" style="font-size: 14px;margin-top: 10px">

                        <per>
                            รหัสของท่าน  คือ รหัสพนักงาน 8 หลัก ตามด้วยเลขบัตรประชาชน 3 หลักสุดท้าย
                            <br>
                            <br><strong>ตัวอย่าง</strong> รหัสพนักงาน 12345678 เลขบัตรประชาชน 3 1111 00567 85 9 <span style="border-bottom: 1px solid red">รหัสของท่านคือ  12345678859</span>
                        </per>

                    </div>


                    <button type="submit" class="btn-preview-login" ng-click="login()">เริ่มทำแบบสอบถาม</button>
                </div>
            </div>
        </div>
    </div>
</div>






