
<div class="background-white">
    <div class="container" >
        <div class="row">
            <div class="col-md-12">
                <div class="form-all">
                    <img src="image/logoBackgroundWhite.png" style="display: block;margin: auto;height: 150px">

                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
                        <input type="text" class="form-control" placeholder="รหัสพนักงาน + เลขท้ายบัตรประชาชน 3 ตัว" aria-describedby="basic-addon1" ng-model="username">
                    </div>
                    <p style="text-align: center;color: #c2001b;margin-top: 10px">{{massage}}</p>
                    <button type="submit" class="btn-preview-login" ng-click="login()">เริ่มทำแบบสอบถาม</button>
                </div>
            </div>
        </div>
    </div>
</div>






