
<nav class="navbar navbar-default" >
    <div class="container-fluid">

        <div class="navbar-header" style="display: inline-block">
            <a class="navbar-brand">
                <img src="central_logo.jpg" alt="Central Logo">
            </a>
        </div>
        <button style="float: right;margin-top: 7px;display: inline" class="btn btn-default" ng-click="logout()" ng-show="user.role === 'admin'">ออกจากระบบ {{user.name}} <i class="fa fa-user-circle-o" aria-hidden="true" style="display: inline;margin-left: 3px"></i></button>
        <div style="float: right;padding-top: 12px" ng-show="user.role === 'user'">

            <p  style="display: inline;">{{user.name}}</p>

        </div>

        <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
</nav>