

<div class="container" style="margin-top: 30px">
    <div class="row">
        <div class="col-md-8 col-md-offset-2" style="background-color: white;border-radius: 4px">
            <div class="form-preview">
                <div class="page-header">
                    <h1>แบบสอบถาม</h1>
                </div>

                <blockquote>
                    <p>แบบสอบถาม นี้จะมีทั้งหมด 21 ข้อ ทำครบ 21 ข้อ คุณจะได้ทราบว่าคุณเป็นบุคคลประเภทไหน</p>
                </blockquote>
                <blockquote>
                    <p>วิธีทำตอบคำถามเลือกคำตอบข้อใดข้อหนึ่งแล้วกด ถัดไป มุมขวาบน</p>
                </blockquote>
                <blockquote>
                    <p>คำถามแต่ละข้อจะมีเวลาเพียง 30 วินาที ต่อ หนึ่งข้อ หากท่านไม่ตอบข้อนั้นภายในเวลาที่กำหนดระบบจะไปข้อถัดไปโดยทันที</p>
                </blockquote>
                <blockquote>
                    <p>ทำครบ 21 ข้อแล้ว ระบบจะประมวลผลและแจ้งท่านให้ทราบว่าท่านจัดอยู่บุคคลประเภทไหน</p>
                </blockquote>

                <button class="btn btn-primary" ng-click="go('/login')" style="display: block;margin: auto;margin-bottom: 20px">เริ่มทำแบบสอบถาม</button>

            </div>



        </div>
    </div>
</div>