
<nav class="navbar navbar-default" >
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="www.google.com">
                <img src="central_logo.jpg" alt="Central Logo">
            </a>
        </div>
        <div id="navbar1" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a>Thanadej Phadtong</a></li>

            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-xs-12">
            <div class="problem">
                <div class="header-problem">
                    <h4>1 / 21</h4>
                    <button class="next-problem btn btn-primary" ng-click="nextProblem()" ng-disabled="isLoadingChoice1 === false && isLoadingChoice2 == false || isNextProblem == true" ng-class="isNextProblem ? 'active': ''">
                        <span ng-show="isNextProblem === true"><i class="fa fa-spinner fa-spin fa-fw"></i></span>
                        <span ng-show="isNextProblem === false">NEXT</span>
                    </button>
                    <p class="time-problem"><small><timer countdown="30" interval="1000">{{countdown}}</timer> sec</small></p>


                </div>
                <div class="question-name">
                    <p class="lead">hellosadflkasd;lfkasd;flksd;flaksd;flkas;ldfk
                        as;lfdkasd;lfka;lsfkas;ldfkas;dlfka;sldfkasdl;fksa;dlfk
                        sdflk;lksadf
                        asdfasdfasf
                        asdfasdfsadf
                        asdfas
                        df
                        asdf
                        asdf
                        asdf
                        asdf

                    </p>
                </div>

                <div class="footer-problem">
                    <div class="row">

                        <div class="col-md-6 col-xs-6">
                            <button class="btn btn-default" ng-disabled="isNextProblem" ng-class="isLoadingChoice1 ? 'active': ''" ng-click="selectChoice(1)" >
                                <i class="fa fa-check" aria-hidden="true" ng-show="isLoadingChoice1" ></i>
                                <span >1.ได้เลย</span>
                            </button>
                        </div>
                        <div class="col-md-6 col-xs-6">

                            <button class="btn btn-default" ng-disabled="isNextProblem" ng-class="isLoadingChoice2 ? 'active': ''" ng-click="selectChoice(2)">
                               <span  >2.ไม่ได้</span>
                                <i class="fa fa-check" aria-hidden="true" ng-show="isLoadingChoice2" ></i>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>