<img src="image/backgroundred.png" class="bg">
    <div ng-include="'js/views/navbar.html'"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="problem" >
                    <div class="header-problem">
                        <h4>ข้อที่ {{problem.question_id}} / 21</h4>

                        <div class="circle-time">
                            <timer  countdown="31" interval="1000" style="font-size: 13px">{{countdown}}</timer>
                        </div>


                    </div>
                    <div class="question-name">
                        <p class="lead" >
                            {{problem.question_name}}
                        </p>

                        <div class="row">
                            <div class="col-md-12"style="margin-bottom: 10px">
                                <p>{{problem.choice1}}</p>
                            </div>
                            <div class="col-md-12 " style="margin-bottom: 10px">
                                <p>{{problem.choice2}}</p>
                            </div>
                            <p>
                                1.{{problem.choice1}}
                            </p>
                            <br>
                            <p>
                                2.{{problem.choice2}}
                            </p>
                        </div>

                    </div>
                    <div class="footer-problem">
                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                                <button role="button" name="choice1" class="btn-choice" ng-disabled="isNextProblem" ng-class="isLoadingChoice1 ? 'active-choice': ''" ng-click="selectChoice(1,problem.choice1_type)" >
                                    ตอบข้อ 1
                                </button>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <button role="button" name="choice2" class="btn-choice" ng-disabled="isNextProblem" ng-class="isLoadingChoice2 ? 'active-choice': ''" ng-click="selectChoice(2,problem.choice2_type)" >
                                    ตอบข้อ 2
                                </button>
                            </div>

                        </div>
                        <div class="row" style="margin-top: 10px">
                            <div class="col-md-12 " >
                                <button style="display: block;margin: auto;padding: 10px 15px;position:relative;bottom:0" class="btn btn-warning" ng-click="nextProblem()" ng-disabled="isLoadingChoice1 === false && isLoadingChoice2 == false || isNextProblem == true" ng-class="isNextProblem ? 'active': ''">
                                    <span ng-show="isNextProblem === true"><i class="fa fa-spinner fa-spin fa-fw"></i></span>
                                    <span ng-show="isNextProblem === false">ถัดไป</span>
                                </button>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>


    </div>



