<div ng-include="'js/views/navbar.html'"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="form-all">
                    <h2 style="text-align: center;">คุณเป็นบุคคลประเภท</h2>
                    <h3 style="color: red;text-align: center;">{{user.person_type1}}{{user.person_type2}}{{user.person_type3}}</h3>



                    <img style="width: 100%;height: 500px;" src="{{image}}">
                    <a style="margin: auto;display: block;margin-top: 5px;" class="btn btn-primary" href="{{image}}" download>โหลดรูปภาพ</a>



                    <button ng-click="logout()" class="btn btn-default" style="display: block;margin: auto;margin-top: 30px">ออกจากระบบ</button>
                </div>
            </div>
        </div>
    </div>

