@font-face {
    font-family: Akzidenz;
    src: url(AkzidenzGrotesk-Regular.otf);
}


body{
    background-color: white;
    font-size: 20px;
    font-family: Akzidenz;
}
.background-white{
    background: url(../image/backgroundwhite2.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;

}
.background-red{
    background: url(../image/backgroundred.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.btn{
    white-space: inherit;
}
.btn-preview-login{
    border: none;
    background-color: #c2001b;
    border-radius: 0;
    padding: 10px 15px;
    color: white;
    display: block;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 100;
    outline: none;
}
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}
.form-all{
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    display: block;
    width: 100%;

    margin: 30px 0;
    padding: 30px;


}



.problem{
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    display: block;
    width: 100%;
    overflow-x: hidden;

}
.problem .header-problem{
    display: block;
    border-bottom: 1px solid #EEEEEE;
    height: 50px;
    padding: 10px;
}
.problem .header-problem h4{
    margin: 5px 0 0 5px;
    float: left;

}
.problem .header-problem p.time-problem{
    text-align: right;
    line-height: 30px;
}
.problem .header-problem .circle-time{
    border-radius: 100%;
    width:30px;
    height: 30px;
    float: right;
    border: 1px solid black;
    position: relative;

}
.problem .header-problem .circle-time timer{
    font-size: 13px;
    font-weight: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);

}
.problem .header-problem button.next-problem{
    float: right;

}
.problem .question-name{
    padding: 15px;
    display: block;
    position: relative;
    width: 100%;
    margin: auto;


}
.problem .question-name p{
    display: inline;
    font-size: 20px;
}
.problem .footer-problem{
    display: block;

    width: 100%;
    padding: 10px;
    margin: auto;
    border-top: 1px solid #EEEEEE;

}
.problem .footer-problem button{
    margin: 5px 0 5px 0;


}
.problem .footer-problem button span{
    float: left;
    font-size: 18px;
    display: inline;

}
.problem .footer-problem button i{

}
.navbar-brand {
    padding: 0px;

}
.navbar-brand>img {
    height: 100%;
    padding: 10px;
    width: auto;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
    margin-left: 0;
}

table thead tr th {
    text-align: center;
}
table tbody tr td {
    text-align: center;
}
.btn-choice{
    margin: 10px;
    border: 1px solid black;
    width: 100%;
    background-color: white;
    color: black;
    padding: 10px 15px;
    outline: none;
}
.active-choice{
    background-color: #00aa98;
    color: white;
    border: 1px solid white;
    outline: none;
}
.navbar-default{
    background-image: none;
    border: none;;
    background-color: #c2001b;
}

img.bg {
    /* Set rules to fill background */
    min-height: 100%;


    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}